/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES */
:root {
  --bg-light: #fff;
  --bg: #f4f5f7;
  --bg-dark: #ebebff;
  --blue-lighter: #ebebff;
  --blue-light: #7f8cff;
  --blue: #6070ff;
  --blue-dark: #4053fc;
  --text-dark: #091e42;
  --text: #344563;
  --text-light: #505f79;
}

.blue {
  color: var(--blue);
}

.section-title {
  text-decoration: underline 5px var(--blue);
}

body,
.main {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

.blurred {
  filter: blur(4px);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.shadow-1 {
  box-shadow: 0 0 18px 0 var(--blue-lighter), 0 0 15px -5px var(--text-light);
  transition: 1.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  background-color: var(--bg-light);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 100;
}

li.nav-link.nav-expand {
  color: var(--blue);
  cursor: pointer;
  display: none;
  flex-grow: 1;
  margin-right: 0;
  justify-content: flex-end;
}

.nav-logo {
  color: var(--blue);
  font-weight: 600;
  white-space: nowrap;
}

.social-links,
.nav-links {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.social-links {
  margin-top: 10px;
}

.social-link,
.nav-link {
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.social-link {
  font-size: 20px;
  margin-right: 20px;
  color: #505f79;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 30px;
}

.social-link:hover,
.nav-link:hover {
  color: var(--blue);
}

.nav-links {
  padding: 0 10vw;
}

.list-padding {
  flex-grow: 1;
}

.nav--mobile {
  background-color: #4053fccc;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.nav-link:last-child {
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  border-color: #396df2;
  padding: 10px 12px;
  box-shadow: inset 0 0 0 20px #fff, inset 0 0 0 20px #fff, 0 0 0 rgba(64, 83, 252, 0.24);
}

.nav--mobile .nav-links {
  align-items: flex-start;
  flex-direction: column;
}

.nav--mobile .nav-link {
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 25px;
}

.nav--mobile .nav-link:nth-child(2) {
  margin-top: 80px;
}

.nav--mobile .nav-close {
  position: absolute;
  top: 16px;
  right: 0;
}

.nav--mobile .nav-close i {
  font-size: 16px;
}

.header {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 920px;
  width: 70%;
  z-index: 10;
  filter: drop-shadow(0 -10px 10px #fff) drop-shadow(0 10px 10px #fff);
}

.header-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px #fff);
  flex-wrap: wrap;
}

.full {
  width: 100%;
}

.header-body {
  font-size: 20px;
  line-height: 28px;
  background-image: linear-gradient(to left, transparent 0%, #fff 20%, #fff 80%, transparent 100%);
}

.header-body span {
  display: inline-block;
  margin: 10px 0;
}

.uppercase--blue {
  color: var(--blue-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 25px;
  text-transform: uppercase;
}

.section {
  align-items: center;
  background-color: var(--bg-light);
  display: flex;
  justify-content: center;
  padding: 50px 10%;
}

.section:first-of-type {
  min-height: calc(90vh - 50px);
  position: relative;
}

.section--vertical {
  flex-direction: column;
}

.section--transparent {
  background-color: transparent;
}

.section--blue {
  background-color: var(--blue);
}

.section--round-bl {
  border-bottom-left-radius: 80px;
}

.section--round-tl {
  border-top-left-radius: 80px;
}

.section--round-br {
  border-bottom-right-radius: 80px;
}

.section--round-tr {
  border-top-right-radius: 80px;
}

.section--shadow-b-light {
  box-shadow: 0 80px 0 0 var(--bg-light);
}

.section-about {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  min-height: 460px;
  padding-top: 60px;
}

.bg-animated {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-animated * {
  position: absolute;
}

.element-1 {
  animation: bounce 40s linear infinite;
  left: 5%;
  top: 100px;
  transform-origin: center center;
}

.element-1 .round {
  animation: halfRotate 40s linear infinite;
  transform-origin: center center;
  transform: rotate(0deg) translate(35px, 55px);
}

.element-1 .straight {
  animation: topDown 40s linear infinite;
  transform-origin: center center;
  transform: rotate(0deg) translate(0, 0);
}

.element-2 {
  animation: bounce2 90s linear infinite;
  right: 16%;
  top: 120px;
  transform-origin: center center;
}

.element-2 .round {
  animation: halfRotate2 90s linear infinite;
  transform-origin: center center;
  transform: rotate(0deg) translate(0, 90px);
}

.element-2 .straight {
  animation: topDown2 90s linear infinite;
  transform-origin: center center;
  transform: rotate(0deg) translate(0, -20px);
}

.element-3 {
  animation: topDown3 90s linear infinite;
  align-items: center;
  display: flex;
  justify-content: center;
  right: calc(50vw - 28px);
  top: 25vh;
  transform-origin: center center;
}

.element-3 .straight {
  position: relative;
  transform-origin: center center;
  transform: rotate(0deg) translate(0, 0);
}

.element-3 .round {
  animation: halfRotate3 90s linear infinite;
  position: absolute;
  left: calc(50% - 11.5px);
  top: calc(50% + 5.75px);
  transform-origin: center center;
  transform: translate(0, 0);
}

.element-4 {
  animation: topDown4 140s linear infinite;
  align-items: center;
  display: flex;
  justify-content: center;
  right: calc(40vw);
  top: 88vh;
  transform-origin: center center;
  transform: rotate(-23deg);
}

.element-4 .round {
  animation: halfRotate4 140s linear infinite;
  position: absolute;
  left: 0;
  bottom: 8px;
}

.element-5 {
  align-items: center;
  display: flex;
  justify-content: center;
  left: calc(20vw);
  top: 90vh;
  transform-origin: center center;
  transform: rotate(-23deg);
}

.element-5 .round {
  animation: halfRound5 60s linear infinite;
  transform-origin: center center;
  transform: rotate(18deg) translate(0, -31px);
}

.element-5 .straight {
  animation: halfRound6 60s linear infinite;
  transform-origin: center center;
  transform: rotate(18deg) translate(0, -31px);
}

.pulse {
  animation: pulse 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  border: 1px solid #ebebff;
  border-radius: 50%;
  height: 20px;
  opacity: 1;
  position: absolute;
  transform-origin: center center;
  width: 20px;
}

.pulse:nth-of-type(1) {
  top: 130px;
  left: 28vw;
}

.pulse:nth-of-type(2) {
  top: 72vh;
  right: 10vw;
  animation-delay: -1.75s;
}

.pulse:nth-of-type(3) {
  top: 75vh;
  left: 12vw;
  animation-delay: -4.25s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes topDown5 {
  0% {
    transform: rotate(-23deg);
  }

  50% {
    transform: rotate(-113deg);
  }

  100% {
    transform: rotate(-23deg);
  }
}

@keyframes halfRound5 {
  0% {
    transform: rotate(18deg) translate(-2px, -31px);
  }

  25% {
    transform: rotate(48deg) translate(-2px, -31px);
  }

  75% {
    transform: rotate(-28deg) translate(-2px, -31px);
  }

  100% {
    transform: rotate(18deg) translate(-2px, -31px);
  }
}

@keyframes halfRound6 {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes halfRotate2 {
  0% {
    transform: rotate(0deg) translate(0, 90px);
  }

  50% {
    transform: rotate(120deg) translate(0, 90px);
  }

  100% {
    transform: rotate(0deg) translate(0, 90px);
  }
}

@keyframes topDown2 {
  0% {
    transform: rotate(0deg) translate(0, -20px);
  }

  25% {
    transform: rotate(45deg) translate(-70px, 8px);
  }

  50% {
    transform: rotate(45deg) translate(-140px, -58px);
  }

  75% {
    transform: rotate(45deg) translate(-70px, 8px);
  }

  100% {
    transform: rotate(0deg) translate(0, -20px);
  }
}

@keyframes topDown3 {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  75% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes halfRotate3 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(23px, -4px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes topDown4 {
  0% {
    transform: rotate(-23deg);
  }

  20% {
    transform: rotate(23deg);
  }

  55% {
    transform: rotate(-23deg);
  }

  70% {
    transform: rotate(-63deg);
  }

  100% {
    transform: rotate(-23deg);
  }
}

@keyframes halfRotate4 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(60px, 26px);
  }

  55% {
    transform: translate(0, 0);
  }

  70% {
    transform: translate(-80px, -35px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bounce2 {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  /** 25% {
    transform: rotate() translate(15px, 18px);
  }

   50% {
  //  transform: rotate(-5deg) translate(30px, 90px);
  //} */

  75% {
    transform: rotate(-2.5deg) translate(15px, 18px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes halfRotate {
  0% {
    transform: rotate(0deg) translate(35px, 55px);
  }

  50% {
    transform: rotate(80deg) translate(55px, 30px);
  }

  100% {
    transform: rotate(0deg) translate(35px, 55px);
  }
}

@keyframes topDown {
  0% {
    transform: rotate(0deg) translate(1px, 0);
  }

  50% {
    transform: rotate(0deg) translate(6px, -25px);
  }

  100% {
    transform: rotate(0deg) translate(1px, 0);
  }
}

@keyframes bounce {
  0% {
    transform: rotate(10deg) translate(0, 0);
  }

  50% {
    transform: rotate(-10deg) translate(0, 20px);
  }

  75% {
    transform: rotate(0deg) translate(0, 10px);
  }

  100% {
    transform: rotate(10deg) translate(0, 0);
  }
}

.item {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  height: max-content;
  min-height: 496px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 24px;
  width: 100%;
}

.item-img {
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  flex-basis: 45%;
  margin: 0;
  overflow: hidden;
}

.item-img--center {
  justify-content: center;
}

.item-img img {
  height: 490px;
  border-radius: 8px;
}

.item-desc {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  margin: 0 12px;
  padding: 24px;
}

.item-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  color: #091e42;
  margin: 15px 0;
}

.item-subtitle {
  color: #6b778c;
  padding-left: 0;
  margin-left: 0;
  list-style: disc;
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.item-subtitle li {
  margin: 0 12px;
  padding-left: 2px;
  white-space: nowrap;
}

.item-subtitle li::marker {
  color: var(--blue-light) !important;
}

.item-subtitle li:first-child {
  color: #344563;
  font-weight: 500;
  list-style: none;
  margin-left: 0;
  text-transform: uppercase;
}

.item-description {
  font-size: 16px;
  margin: 32px 0 20px 0;
}

.item-tags {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid var(--blue-light);
  padding-bottom: 20px;
  margin-bottom: -10px;
}

.modal .item-tags {
  border-bottom: 0;
  margin-bottom: 0;
}

.tags-title {
  margin-bottom: 0;
}

.view {
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row * {
  margin-right: 10px;
}

.item-tags .tag {
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
  color: var(--blue-dark);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  margin: 0 4px;
  padding: 4px 12px;
}

.item-tags .tag:first-child {
  margin-left: 0;
}

.item-btn {
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  border-color: #396df2;
  color: #fff !important;
  box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 26px var(--blue-dark), 0 0 0 rgba(64, 83, 252, 0.24);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-top: 26px;
  padding: 10px 12px;
  transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: max-content;
  white-space: nowrap;
}

.item-btn:hover {
  box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 26px var(--blue-light), 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff !important;
}

.item-btn:active {
  color: #396df2;
}

.nav-link:last-child:hover {
  background-color: #7f8cff99;
}

.about {
  flex-basis: 40%;
}

.about-skills {
  box-sizing: border-box;
  flex-basis: 60%;
  padding: 25px;
  padding-top: 0;
  width: 60%;
}

.about-skill {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #dfe1e6;
  box-sizing: border-box;
  color: #505f79;
  cursor: pointer;
  display: flex;
  height: 70.8px;
  justify-content: space-between;
  padding: 23px 30px;
  position: relative;
  z-index: 10;
}

.about-skill:nth-of-type(1) {
  z-index: 30;
}

.about-skill:nth-of-type(2) {
  z-index: 20;
}

.about-skill h3 {
  color: #344563;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.arrow {
  transform-origin: center center;
}

.frameworks {
  transform: translate(0, 0);
}

.skills {
  transform: translate(0, 0);
}

.drop {
  display: none;
}

.drop-languages:checked ~ .languages .arrow,
.drop-frameworks:checked ~ .frameworks .arrow,
.drop-skills:checked ~ .skills .arrow {
  transform: rotate(90deg);
}

.drop-languages:checked ~ .frameworks,
.drop-languages:checked ~ .skills {
  transform: translate(0, 130px);
}

.drop-frameworks:checked ~ .skills {
  transform: translate(0, 130px);
}

.content {
  align-items: center;
  box-sizing: border-box;
  display: none;
  height: 130px;
  justify-content: flex-start;
  left: 0;
  overflow-x: scroll;
  padding: 5px;
  position: absolute;
  scrollbar-width: none;
  top: 100%;
  width: 100%;
}

.content-item {
  align-items: flex-start;
  background-color: #f7f7f9;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 120px;
  justify-content: flex-start;
  margin: 12px 6px;
  padding: 15px 10px;
  width: 122px;
}

.content-item p {
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}

.content-icon {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.drop-languages:checked ~ .languages .content {
  display: flex;
}

.drop-frameworks:checked ~ .frameworks .content {
  display: flex;
}

.drop-skills:checked ~ .skills .content {
  display: flex;
}

.section-contact {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  position: relative;
}

.section-contact h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin: 0 12px;
  text-align: center;
  z-index: 10;
}

.section-contact p {
  color: #ebebff;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  max-width: 447px;
  z-index: 10;
}

.section-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  max-width: 447px;
  width: 90%;
  z-index: 10;
}

.section-contact form * {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  margin-bottom: 27px;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
}

.section-contact form [type=text],
.section-contact form [type=email] {
  height: 18px;
}

.section-contact form textarea {
  min-height: 170px;
}

.section-contact form textarea:not(:focus) {
  color: #828d9f;
}

.section-contact form [type=submit] {
  border-radius: 8px;
  color: #6070ff;
  margin: 0;
  width: max-content;
  align-self: flex-start;
  margin-left: -15px;
  font-weight: 500;
}

.hidden {
  font-size: 0.1rem;
  color: transparent;
  margin: 0;
}

.hide {
  display: none !important;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  top: 30px;
  left: 5%;
  right: 5%;
  bottom: 50px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 16px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border: 1px solid #ebecf0;
  background: #fff;
  z-index: 100000000;
  padding: 24px;
}

.close-ico {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-light);
}

.modal-body ul {
  list-style: disc;
  padding-left: 20px;
}

.modal .item-description {
  margin-top: 10px;
}

.modal .item-title {
  margin-bottom: 0;
  margin-top: 0;
}

.modal .item-top {
  margin-bottom: 32px;
}

.modal .item-desc {
  flex-direction: row;
}

.modal .item-desc .item-description {
  flex-basis: 75%;
  flex-grow: 1;
  margin-right: 20px;
}

.modal .item-desc .item-side {
  flex-basis: 320px;
  flex-grow: 0;
}

.modal .item-desc hr {
  color: #ebebff;
  border: 1px solid #ebebff;
  margin-top: 20px;
}

.item-links {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.modal .item-links {
  display: flex;
}

.modal .item-links .item-btn {
  margin-top: 12px;
  margin-right: 10px;
}

.modal .item-links .item-btn i {
  margin-left: 10px;
}

.modal .item-img {
  width: 100%;
}

.click-catcher {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ebecf011;
  z-index: 99999999;
  pointer-events: all !important;
}

.section-contact .bg-animated .roundd {
  position: absolute;
  top: 70px;
  left: 30%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #7f8cff;
  transform-origin: center center;
  animation: 30s plop cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.section-contact .bg-animated .roundd:nth-of-type(2) {
  animation-delay: -15s;
  left: 80%;
  top: 70%;
}

.section-contact .bg-animated .element-4 {
  left: 10%;
  top: 45%;
  right: unset;
  scale: 0.8;
}

.section-contact .bg-animated .element-4 .round {
  bottom: -75px;
  -moz-animation-direction: reverse;
}

.section-contact .bg-animated .element-6 {
  position: absolute;
  right: 15%;
  top: 10%;
  transform-origin: center center;
  animation: 100s rou linear infinite;
}

.element-7 .straight {
  transform-origin: center center;
  transform: translate(-28px, -20px);
}

.section-contact .bg-animated .element-6 .straight {
  transform-origin: center center;
  transform: translate(-20px, -40px);
}

.section-contact .bg-animated .element-6 .round {
  transform-origin: center center;
  animation: 100s roup linear infinite;
}

@keyframes rou {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes roup {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(80deg);
  }

  75% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes plop {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: scale(3);
  }

  80% {
    transform: scale(2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.element-7 {
  position: absolute;
  bottom: 8%;
  left: 22%;
}

.professional,
.the {
  display: inline-block;
  margin-right: 0.75rem;
}

@media only screen and (max-width: 379px) {
  .modal .item-side {
    max-height: 220px !important;
  }
}

@media only screen and (max-width: 528px) {
  .professional {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .row * {
    margin-bottom: 0;
  }

  .item-tags {
    margin-top: -20px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 720px) {
  .section-about,
  .item {
    flex-direction: column;
  }

  .tags-title {
    margin-top: -10px;
  }

  .item-side {
    box-sizing: border-box;
    padding-top: 30px;
    order: -1;
    margin-bottom: 0;
    max-height: 160px !important;
  }

  .item {
    height: unset;
    min-height: 500px;
  }

  .item-img {
    height: 220px;
  }

  .item-desc {
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .about-skills {
    width: 100%;
    padding: 35px 0 50px 0;
  }

  .about-skill {
    padding-left: 10px;
  }

  .nav-links {
    padding: 0 30px;
  }

  .nav .nav-link:not(:first-child) {
    display: none;
  }

  .nav li.nav-link.nav-expand {
    display: flex;
  }

  .modal .item-desc {
    flex-direction: column;
  }

  .modal .item-side {
    max-height: 200px;
  }

  .modal .item-description {
    margin-top: 25px;
  }

  .section-about {
    justify-content: flex-start;
    min-height: 760px;
  }
}
